
.clock-item .inner {
	height: 0px;
	padding-bottom: 100%;
	position: relative;	
	width: 100%;
}

.clock-canvas {
	border-radius: 50%;
	height: 0px;
}

.text {
	color: #2C3E50;	
	font-weight: bold;	
	margin-top: -50px;
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
}

.text .val {
	font-size: 25px;
}

.text .type-time {
	font-size: 15px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.clock-item {
		margin-bottom: 30px;		
	}
}

@media (max-width: 767px) {
	.clock-item {
		margin: 0px 30px 30px 30px;
	}
}